.DS_Store
.vscode
.deploy_git
node_modules
public
source/_posts/*
db.json
baidu_push.sh
urls.txt
# unpublished post
*.mdx
# git repo alone
themes
posts/tensorflow2-docs
posts/interview-questions
posts/7days-gee-golang-web